<html>
  <head>
    <title>ADD DATA SUPPLIERS</title>
  </head>
  <body>
    <h2>ADD DATA SUPPLIERS</h2>
    <form action="" method="post">
      <input type="text" value="" name="newName" placeholder="Name"><br>
      <input type="text" value="" name="newKota" placeholder="Kota"><br>
      <input type="submit">
    </form>
  </body>
</html>
