<html>
    <head>

    </head>
    <body>
        <%- include('../partials/navbar')  %>

        <h3>Add Suppliers</h3>

        <form method="POST">
            Name: <br>
            <input type="text" name="name"><br>
            Kota: <br>
            <input type="text" name="kota"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        
        <%- include('../partials/footer')  %>
    </body>
</html>