<%-include('../partials/menu.ejs')%>
    
<div>
    <h1>Suppliers</h1>
</div>

<div>
    <form action="" method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>:</th>
                <th><input type="text" name="name" value="<%=data.name%>"></th>
            </tr>
            <tr>
                <th>City</th>
                <th>:</th>
                <th><input type="text" name="city" value="<%=data.city%>"></th>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>