<html>
    <head>
        <title>
            WEBSITE MINIPOS
        </title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/items">ITEMS</a></li>
                <li><a href="/supppliers">SUPLLIERS</a></li>
                <li><a href="/search">SEARCH</a></li>
            </ul>
        </header>
    </body>
</html>