
<nav>
    <ul>
        <li><a href="/suppliers/suppliers">Suppliers</a></li>
        <li><a href="/items/items">Items</a></li>
        <li><a href="/search/search/">Search</a></li>
        <li style="float:right"><a class="active" href="#about">Home</a></li>
    </ul>
</nav>


