<!DOCTYPE html>
<html>
  <head>
      <%include ../partials/header%>
    <title>Items</title>
  </head>
  <body>
    <div class ="container">
	  <center>
      <h1>Add Items Data</h1>
      <a href = "/items">show all data</a>
      <%if(error !== null){%>
        <div class="alert alert-danger">
          <strong>Validation Error!</strong> <%=error%>
        </div>
        <%}%> 
          <form class= 'form-inline' action='/items/add' method = 'post'>
            <label>Name</label></br>
            <input type ='text' placeholder='Item name...' class="form-control"  name='name'> </br>
            <label>Brand</label></br>
            <input type ='text' placeholder='Brand name...' class="form-control"  name='brand'> </br>
            <label>Code Item</label></br>
              <input type ='text' placeholder='Code item...' class="form-control"  name='codeitem'> </br>
          </br>
            <button type="submit" class="btn btn-success"> Add Item </button>  <a href = '/items'><button type="button" name="button" class="btn btn-danger"> Cancel </button></a> 
      </form>
      
    </center>
  </div>
  </body>
</html>