<html>
<body>
<h1>Add Supplier Data</h1>
<form class="" action="/suppliers/add" method="post">
  <input type="text" placeholder="nama" name="name">
  <input type="text" placeholder="kota" name="kota">
  <button>SUBMIT</button>
</form>
</body>
</html>
