<html>
    <head>
        <title>
            WEBSITE MINIPOS
        </title>
    </head>
    <body>
        <header>
            <h3>Add Items Data</h3>
        </header>

        <p><%= err %></p>

        <form method="POST">
            <table border="0">
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td><input type="text" name="Name"></td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>:</td>
                    <td><input type="text" name="Brand"></td>
                </tr>
                <tr>
                    <td>Item Code</td>
                    <td>:</td>
                    <td><input type="text" name="CodeItem"></td>
                </tr>
            </table>
            <input type="submit" value="Add Item">
        </form>

    </body>
</html>