<html>
<body>
<h1>Edit Supplier Data</h1>

<form class="" action="/suppliers/edit/<%=data_supplier.id%>" method="post">
  <input type="text" placeholder="Nama" name="name" value="<%=data_supplier.name%>">
  <input type="text" placeholder="Kota" name="kota" value="<%=data_supplier.kota%>">
  <button>EDIT</button>
</form>
</body>
</html>
