<html>
<body>
<h1>Edit Items Data</h1>

<form class="" action="/items/edit/<%=data_item.id%>" method="post">
  <input type="text" placeholder="Name" name="name" value="<%=data_item.name%>">
  <input type="text" placeholder="Brand" name="brand" value="<%=data_item.brand%>">
  <input type="text" placeholder="Code Item" name="codeitem" value="<%=data_item.codeitem%>">
  <button>EDIT</button>
</form>
</body>
</html>
