<%- include('partials/header.ejs') %>
        <div>
            <h3> Edit Supplier</h3>
            <form method="POST">
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>City</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" name="Name" value="<%= data.Name %>"></td>
                            <td><input type="text" name="City" value="<%= data.City %>"></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="Submit">
                <button><a href='/suppliers'>Cancel</a></button>
            </form>
        </div>
    </body>
</html>