<html>
    <head>
        <title>
            WEBSITE MINIPOS
        </title>
    </head>
    <body>
        <header>
            <h3><%= title %></h3>
        </header>
        <form method="POST">
            <table border="0">
                <tr>
                    <td>Name</td>
                    <td>:</td>
                    <td><input type="text" name="Name"></td>
                </tr>
                <tr>
                    <td>Kota</td>
                    <td>:</td>
                    <td><input type="text" name="Kota"></td>
                </tr>
            </table>
            <input type="submit" value="Edit Supplier">
        </form>

    </body>
</html>