<body>
    <h1>Add Supplier</h1>
    <form name="form" method="POST" action="/suppliers/add">
    <table>
        <tr>
        <td>Name</td>
        <td><input type="text" name="name" required></td>
        </tr>
        <tr>
        <td>Kota</td>
        <td><input type="text" name="kota" required></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
</body>
