<body>
  <%- include menu.ejs %>
    <h1>Add Item</h1>
    <p style ="color:red"><%= data.error %></p>
    <form name="form" method="POST" action="/items/add">
    <table>
        <tr>
        <td>Name</td>
        <td><input type="text" name="name" required></td>
        </tr>
        <tr>
        <td>Brand</td>
        <td><input type="text" name="brand" required></td>
        </tr>
        <tr>
        <td>Code Item</td>
        <td><input type="text" name="codeitem" required></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
</body>
