<!doctype html>
<html>
    <head>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href='/'>Home</a></li>
                    <li><a href='/suppliers'>Suppliers</a></li>
                    <li><a href='/items'>Items</a></li>
                    <li><a href='/search'>Search</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>