<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Mini Point Of Sales Apps</h1>
        <p>Welcome to Mini Point Of Sales Apps</p>
    </div>
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
