<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Mini Point of Sales</title>

  <link rel="stylesheet" href="/css/style.css"></head>
 <body>
     <%- include('./partials/menu.ejs') %>
     <h1>Mini Point of Sales</h1>

 </body>
