<body>
    <h1>Welcome To MiniPos</h1>
    <table border='1'>
        <tr>
        <td><a href="/suppliers">Suppliers</a></td>
        <td><a href="/items">Items</a></td>
        </tr>
    </table>
</body>
