<html>
  <head>
    <title>
      Mini Point of Sales
    </title>
  </head>
  <body>
    <div>
      <h1>Mini Point of Sales</h1>
      <button type="button" onclick="location.href='/items'">Items</button>
      <button type="button" onclick="location.href='/suppliers'">Suppliers</button>
    </div>
  </body>
</html>