<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <h2>INDEX MINI SHOP</h2>
  <body>
    <a href="items"> <button type="button" name="button">ITEMS</button></a>
    <a href="suppliers"> <button type="button" name="button">suppliers</button></a>
  </body>
</html>
