<div>
    <a href='/'>Home</a>
    <a href='/suppliers'>Suppliers</a>
    <a href='/items'>Items</a> 
    <a href='/search'>Search</a>    
</div>
    
<div>
    <h1>Suppliers</h1>
</div>

<div>
    <form action="" method="post">
        <table>
            <tr>
                <th>Name</th>
                <th>:</th>
                <th><input type="text" name="name" value="<%=data.name%>"></th>
            </tr>
            <tr>
                <th>Brand</th>
                <th>:</th>
                <th><input type="text" name="city" value="<%=data.brand%>"></th>
            </tr>
            <tr>
                <th>Code Item</th>
                <th>:</th>
                <th><input type="text" name="city" value="<%=data.codeitem%>"></th>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
</div>