<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <%- include ../partials/navbar.ejs%>
  <body>
    <form action="" method="post">
      <table>
        <tr>
          <td>nama items</td>
        </tr>
        <tr>
          <td> <input type="text" name="barang" value=""> </td>
        </tr>
        <tr>
          <td>min price</td>
          <td>max price</td>
        </tr>
        <tr>
          <td> <input type="number" name="min" value=""> </td>
          <td> <input type="number" name="max" value=""> </td>
        </tr>
        <tr>
          <td> <input type="submit" name="" value="search"> </td>
        </tr>
      </table>
    </form>

  </body>
</html>
