<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SEARCH</title>
  </head>
  <%include ./partials/header%>
  <body>
    <h4>ITEM SEARCH</h4>
    <br>
    <form class="" action="/search/itemresult" method="post">
      <input type="test" name="itemName" placeholder="itemName">
      <input type="text" name="min_value" placeholder="min">
      <input type="text" name="max_value" placeholder="max">
      <input type="submit" name="" value="SEARCH">
    </form>
  </body>
</html>
