<%include ./index%>
<container>
  <center>
        <form action="/search" method="POST">
            <label>Name Item</label>
            <input type="text" name="name"><br>
            <label>Min Price</label>
            <input type="text" name="min_price"><br>
            <label>Max Price</label>
            <input type="text" name="max_price"><br>
            <button class="btn btn-primary">Search</button>
        </form>
  </center>
</container>

