<html>
  <head>
    <title>
      Mini Point of Sales
    </title>
  </head>
  <body>
    <nav>
      <button type="button" onclick="location.href='/'">Home</button>
      <button type="button" onclick="location.href='/items'">Items</button>
      <button type="button" onclick="location.href='/suppliers'">Suppliers</button>
      <button type="button" onclick="location.href='/suppliers'">Search</button>
    </nav>
    <div>
      <h2>Search Page</h2>
    </div>
  </body>
</html>