<html>
    <head>
        <title>
            WEBSITE MINIPOS
        </title>
    </head>
    <body>
        <header>
            <h2>Search Page</h2>
        </header>
        <form method="POST">
            <table birder='0'>
                <tr>Item Name</tr><br>
                <tr><input type="text" name="SearchedName"></tr>
                <tr>
                    <td>Min Price</td>
                    <td>Max Price</td>
                </tr>
                <tr>
                    <td><input type="number" name="MinPrice"></td>
                    <td><input type="number" name="MaxPrice"></td>
                </tr>
            </table>

            <input type="submit" value="Search">

        </form>


    </body>
</html>