<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UPDATE SUPPLIER</title>
  </head>
  <h2>UPDATE SUPPLIER</h2>
  <body>
    <form class="" action="/suppliers/update/<%=dataSuppliers.id%>" method="post">
      <input type="text" name="name" value="<%=dataSuppliers.name%>">
      <input type="text" name="kota" value="<%=dataSuppliers.kota%>">
      <input type="submit" name="" value="UPDATE SUPPLIER">
    </form>
  </body>
</html>
