<!DOCTYPE html>
<html>
  <head>
    <title>Search Page</title>
  </head>
    <h1>Search Page</h1>
  <body>
        <form action="/suppliers/add/" method= "post">
            Name:<br>
            <input type="text" name="name" placeholder="Name">
            <br>
            Kota:<br>
            <input type="text" name="kota" placeholder="Kota">
            <br><br>
            <input type="submit" value="Add Supplier">
          </form>    
  </body>
</html>