<!DOCTYPE html>
<html>
  <head>
      <%include ../partials/header%>
    <title>Search</title>
  </head>
  <body>
    <div class ="container">
	  <center>
      <h1>Search Page</h1> 
          <form class= 'form-inline' action='/search' method = 'post'>
            <label>Name Item</label></br>
            <input type ='text' placeholder='Item name...' class="form-control"  name='search'> </br>
            <label>Min Price</label></br>
            <input type ='number' placeholder='ex:1000' class="form-control"  name='minprice'><br/>
            <label>Max Price</label></br>
              <input type ='number' placeholder='ex:1000' class="form-control"  name='maxprice'> </br>
          </br>
            <button type="submit" class="btn btn-success"> Search </button> 
          </form>
    </center>
  </div>
  </body>
</html>