<!DOCTYPE html>
<html>
  <head>
      <%include ../partials/header%>
    <title> Edit Suppliers</title>
  </head>
  <body>
	  <center>
      <h1>Edit Suppliers Data</h1>
      <a href = "/suppliers">show all data</a>
      <form class= 'form-inline' action='/suppliers/edit/<%=dataSupplier.id%>' method = 'post'>
        <label>Name</label></br>
        <input type ='text' value ='<%=dataSupplier.name%>' class="form-control"  name='name'> </br>
        <label>City</label></br>
        <input type ='text' value='<%=dataSupplier.city%>' class="form-control"  name='city'> </br>
        </br>
        <button > Update Data </button>    
      </form>
    </center>
  </body>
</html>