<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Suppliers</title>
  </head>
  <body>
	  <center>
      <h1>Add Suppliers Data</h1>
      <a href = "/suppliers">show all data</a>
      <form class= 'form-inline' action='/suppliers/add' method = 'post'>
          <label>Name</label></br>
          <input type ='text' placeholder='Supplier name' class="form-control"  name='name'> </br>
          <label>City</label></br>
          <input type ='text' placeholder='city name' class="form-control"  name='city'> </br>
        </br>
          <button > Add Supplier </button>    
    </form>
    </center>
  </body>
</html>