<div id="topBanner">
  <div class="navigation">
    <a href="/">
      <button type="button" name="button">
        Home
      </button>
    </a>
    <a href="/search">
      <button type="button" name="button">
        Search
      </button>
    </a>
    <a href="/suppliers">
      <button type="button" name="button">
        Suppliers
      </button>
    </a>
    <a href="/items">
      <button type="button" name="button">
        Items
      </button>
    </a>
  </div>
</div>
