<html>
  <head>
    <title>ADD DATA ITEMS</title>
  </head>
  <body>
    <h2>ADD DATA ITEM</h2>
    <p><%= err %></p>
    <form action="" method="post">
      <input type="text" value="" name="newName" placeholder="Name"><br>
      <input type="text" value="" name="newMerek" placeholder="Brand"><br>
      <input type="text" value="" name="newKode" placeholder="Item Code"><br>
      <input type="submit">
    </form>
  </body>
</html>
