<html>
  <head>
    <title>EDIT DATA ITEMS</title>
  </head>
  <body>
    <h2>EDIT DATA ITEM</h2>
    <form action="" method="post">
      <input type="hidden" value="<%= id %>" name="id">
      <input type="text" value="<%= nama %>" name="newName" placeholder="Name"><br>
      <input type="text" value="<%= merek %>" name="newMerek" placeholder="Brand"><br>
      <input type="text" value="<%= kode %>" name="newKode" placeholder="Item Code"><br>
      <input type="submit">
    </form>
  </body>
</html>
